html, body {
    height: 100vh;
    overflow: hidden;
}

p, span {
    margin: 0;
    padding: 0;
}

.main-wrapper {
    height: 100%;
    background: linear-gradient(180deg, rgba(3, 56, 244, 0.71) 0%, rgba(224, 37, 206, 0.79) 93.75%);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    padding: 2%;
    justify-content: center;
}

.personal-information {
    display: flex;
    flex-direction: column;
    background: rgba(196, 196, 196, 0.3);
    border-radius: 10px;
    padding: 2%;
    width: 35vw;
}

.proffessional-information {
    display: flex;
    background: #FFFFFF;
    border-radius: 10px;
}

.profile {
    display: flex;
}
.profile-information {
    align-self: center;
}

.profile-img {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    margin-right: 5%;
}

.grey-color {
    color: #CECACA;
}

.white-color {
    color: #FFFFFF;
}

.profile .big-size {
    font-size: 35px;
    margin: 5px 0;
}

.profile .medium-size {
    font-size: 25px;
}

.profile .small-size {
    font-size: 15px;
}

.contacts {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.contacts li {
    background: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
    padding: 7px 14px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.contacts li img{
    width: 7%;
}

.contacts li a{
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 30px;
    text-decoration: none;
}

.industry_knowledge {
    background: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 7px 14px;
}

.industry_knowledge p{
    font-size: 25px;
}

.industry_knowledge ul{
    padding-left: 1rem;
}

.languages {
    background: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 7px 14px;
    margin-top: 12px;
}

.languages p{
    font-size: 25px;
}

.languages ul{
    padding-left: 1rem;
    list-style-type: none;
}

.languages ul li{
    display: flex;
    align-items: center;
}

.languages ul li span{
    margin-right: 2vw;
}

.circle{
    width: 1vw;
    height: 1vw;
    margin-right: 0.5vw;
    border-radius: 50%;
    background: #CECACA;
}

.circle.dark {
    background: rgba(84, 84, 84, 0.6);
}

.social {
    background: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 7px 14px;
    margin-top: 12px;
}

.social p{
    font-size: 25px;
}

.social ul{
    padding-left: 1rem;
    list-style-type: none;
}